/* 
* 	Soy Template for testing Soyer
*	Author:		MP
*	Date:		04/06/2012
*/

{namespace test}


/**
 * Test 1
 */
{template .test1}
Hello World
{/template}


/**
 * Test 2
 * @param name
 */
{template .test2}
Hello {$name}
{/template}